{{>adminHead}}
{{>admin}}
<div class="container pt-5">
    <div class="row">
        <a href="/category/add" class="btn btn-info ml-auto " style="width: 200px;">add category</a>
    </div>
</div>
<div class="container pt-5">
<table class="table table-info table-striped" id="userData">
  <thead>
    <tr>
     
      <th scope="col">N0</th>
      <th scope="col">category</th>
      <th scope="col">OPTIONS</th>
      
      
    </tr>
  </thead>
  <tbody>
     {{#each category}}
     
    <tr>
      <td>{{ inc @ index}}</td>    
      <td>{{this.category}}</td>
    
      <td>
        <a href="/category/edit?id={{this._id}}" class="btn btn-primary">edit</a>
        <a href='/category/delete?id={{this._id}}'  onclick="return confirm('Are you sure you want to delete {{this.name}}?')" class="btn btn-danger">delete</a>
       </td>
      
    </tr>
    
    
     {{/each}}
</tbody>

</table>


</div>
{{>adminFoot}}

     