{{>adminHead}}

{{>admin}}

<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <form action="/edit?id={{product._id}}" method="post" enctype="multipart/form-data">
        <label for="">Name</label>
        <input type="text" name="name" id="name" oninput="validateName()" class="form-control" value="{{product.name}}">
        <div>
          <span id="name-error" style="color:red ;"></span>
        </div>


        <label for="">price</label>
        <input type="number" name="price" value="{{product.price}}" class="form-control">
        <label for="">offerprice</label>
        <input type="number" name="offerprice" value="{{product.offerprice}}" class="form-control">

        <label for="">Desscription</label>
        <input type="text" name="description" value="{{product.description}}" class="form-control">
        <label for="">Brand</label>
        <input type="text" name="brand" value=' {{product.brand}}' class="form-control">

        <label for="">Category</label>
        <select name="category" class="custom-select custom-select-md mb-3">
          <option> {{product.category}}</option>
          {{#each category}}
          <option>{{this.category}}</option>
          {{/each}}

        </select>


        <label for="" class="form-label">Image</label>
        <img src="/img/{{product.imageFile.[0]}}" id="imgView" style="width:50px;" alt="">

        <input type="file" name="image" class="form-control"  data-toggle="modal" data-target="#exampleModal" accept="image/*"  id="first" onchange="viewImage(event,'{{product.imageFile.[0]}}')"
          multiple>
        <label for="" class="form-label">Image</label>
        <img src="/img/{{product.imageFile.[1]}}" id="View" style="width:50px;" alt="">

        <input type="file" name="image" class="form-control"  data-toggle="modal" data-target="#exampleModal" accept="image/*"  id="middle" onchange="view(event,'{{product.imageFile.[1]}}')"
          multiple>
        <input type="hidden" id="pic1" name="pic1">
        <input type="hidden" id="pic2" name="pic2">
        <input type="hidden" id="pic3" name="pic3">

        <label for="" class="form-label">Image</label>
        <img src="/img/{{product.imageFile.[2]}}" id="pict" style="width:50px;" alt="">

        <input type="file" name="image" class="form-control" id="last" onchange="imagechange(event,'{{product.imageFile.[2]}}')"
          multiple>

        <button type="submit" class="btn btn-primary mt-2"> submit</button>
      </form>
    </div>
  </div>
</div>
<!-- Modal -->




{{>adminFoot}}
<script src="/js/adminformvalidation.js"></script>

{{!-- <script defer src="https://cdn.crop.guide/loader/l.js?c=CKHLLF"></script> --}}

<script>
  function viewImage(event, a) {
    document.getElementById('pic1').value = a
    document.getElementById('last').disabled=true
    document.getElementById('middle').disabled=true

    document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    

  }
  function view(event, a) {
    document.getElementById('pic2').value = a
     document.getElementById('last').disabled=true
    document.getElementById('first').disabled=true
    document.getElementById('View').src = URL.createObjectURL(event.target.files[0])

  }
  function imagechange(event, a) {
    document.getElementById('pic3').value = a
    document.getElementById('middle').disabled=true
    document.getElementById('first').disabled=true
    document.getElementById('pict').src = URL.createObjectURL(event.target.files[0])

  }
</script>
