<!DOCTYPE html>
<html lang="en">

<head>
  <title>ShopMax &mdash; Colorlib e-Commerce Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>

  {{>userHead}}


  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
            class="text-black">Cart</strong></div>
      </div>
    </div>
  </div>

  {{#if product.empty}}

  {{!-- <div
    style="width:100%; background-image:url('https://i.pinimg.com/736x/2e/ac/fa/2eacfa305d7715bdcd86bb4956209038--android.jpg');background-repeat:no-repeat">
    --}}
    <img style="margin-left:300px ;"
      src="https://i.pinimg.com/736x/2e/ac/fa/2eacfa305d7715bdcd86bb4956209038--android.jpg" alt="">

  </div>
  {{/if}}
  {{#if product.empty}}


  {{else}}
  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-total">Total</th>
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              <tbody>
                {{#each product}}

                <tr>
                  <td class="product-thumbnail">
                    <img src="/img/{{this.products.imageFile.[1]}}" alt="Image" style="width: 50px; height:50px ;"
                      class="img-fluid">
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black">{{this.products.name}}</h2>
                  </td>
                  <td>{{this.products.offerprice}}</td>
                  <td>
                    <div class="input-group mb-3" style="max-width: 120px;">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-primary js-btn-minus"
                          onclick="quantity('{{this._id}}','{{this.products._id}}',-1)" type="button">&minus;</button>
                      </div>
                      <input type="text" class="form-control text-center" value="{{this.count}}"
                        id="{{this.products._id}}" placeholder="" aria-label="Example text with button addon"
                        aria-describedby="button-addon1">
                      <div class="input-group-append">
                        <button class="btn btn-outline-primary js-btn-plus"
                          onclick="quantity('{{this._id}}','{{this.products._id}}',1)" type="button">&plus;</button>
                      </div>
                    </div>

                  </td>
                  <td>{{this.totalprice}}</td>
                  <td><a href="/users/cartItemDlt?id={{this.products._id}}"
                      onclick="return confirm('are u sure wanted to remove this product??')"
                      class="btn btn-primary height-auto btn-sm">X</a></td>
                </tr>
                {{/each}}




              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          {{!-- <div class="row mb-5">
            <div class="col-md-6 mb-3 mb-md-0">
              <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button>
            </div>
          </div> --}}
          <div class="row">
            <div class="col-md-12">
              <label class="text-black h4" for="coupon">Coupon</label>
              <p>Enter your coupon code if you have one.</p>
            </div>
            <div class="col-md-8 mb-3 mb-md-0">
              <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary btn-sm px-4" id="apply" onclick="coupon()">Apply Coupon</button>
            </div>
            <div class="col-md-12">
              <p id="couponERR" style="color:red ;"></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">{{total}}</strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black" id="total">{{total}}</strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-danger" style="width: 300px;" href="/users/check">Proceed To Checkout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/if}}

  {{#if product.empty}}
  {{else}}
  <footer class="site-footer custom-border-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h3 class="footer-heading mb-4">Promo</h3>
          <a href="#" class="block-6">
            <img src="/images/about_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
            <h3 class="font-weight-light  mb-0">Finding Your Perfect Shirts This Summer</h3>
            <p>Promo from July 15 &mdash; 25, 2019</p>
          </a>
        </div>
        <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
          <div class="row">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Quick Links</h3>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Sell online</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Shopping cart</a></li>
                <li><a href="#">Store builder</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Mobile commerce</a></li>
                <li><a href="#">Dropshipping</a></li>
                <li><a href="#">Website development</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Point of sale</a></li>
                <li><a href="#">Hardware</a></li>
                <li><a href="#">Software</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
              <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
              <li class="email">emailaddress@domain.com</li>
            </ul>
          </div>

          <div class="block-7">
            <form action="#" method="post">
              <label for="email_subscribe" class="footer-heading">Subscribe</label>
              <div class="form-group">
                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                <input type="submit" class="btn btn-sm btn-primary" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
            <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
              class="text-primary">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </div>
  </footer>
  {{/if}}
  </div>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/main.js"></script>

  <script>
    function quantity(cartid, proid, count) {
      let quantity = parseInt(document.getElementById(proid).value)
      $.ajax({
        url: '/users/changequantity',
        data: {
          cart: cartid,
          product: proid,
          count: count,
          quantity: quantity
        },
        method: 'post',
        success: (response) => {
          if (response.removeproduct) {

            alert('product is removed')
            location.reload()
          } else {
            location.reload()
          }
        }
      })
    }
  </script>
  <script>
    function check() {
      $.ajax({
        url: '/users',
        method: 'get'
      })
    }


  </script>
  <script>
    function coupon() {
      var coupon = document.getElementById('coupon').value


      $.ajax({
        url: '/users/coupon',
        data: { name: coupon },
        method: 'post',
        success: (response) => {
          console.log(response)

          alert(response.name)
          if (response.status) {
            var total = document.getElementById('total').innerHTML
           document.getElementById("couponERR").innerHTML = 'Coupon applied';

            if (total > response.minAmount) {
              document.getElementById('apply').disabled = true;
              document.getElementById("coupon").readOnly = true;
              let per = Math.round(total * response.percentage / 100)
              if (per < response.maxAmount) {
                document.getElementById('total').innerHTML = total - Math.round(total * response.percentage / 100)

              }
              else{
               document.getElementById('total').innerHTML = total - Math.round(response.maxAmount/1)

              }

            }

            else {
              document.getElementById("couponERR").innerHTML = 'min amount 1000';


            }
          }
          if (response.expiry) {
            document.getElementById("couponERR").innerHTML = 'this coupon is expired';


          }
          if (response.real) {
            document.getElementById("couponERR").innerHTML = 'not a coupon';

          }



        }

      })
    }


  </script>
</body>

</html>