<!DOCTYPE html>
<html lang="en">

<head>
  <title>ShopMax &mdash; Colorlib e-Commerce Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />


  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/style.css">

</head>

<body onload="vis()">

  {{>userHead}}




  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Total price</th>
                  {{!-- <th class="product-quantity">Status</th> --}}
                  <th class="product-quantity">Status</th>

                  {{!-- <th class="product-total">order date</th> --}}
                
                  <th class="product-total" id="cancel">Action</th>
                  


                </tr>
              </thead>
              <tbody>
                {{#each product}}

                <tr>
                  <td class="product-thumbnail">
                    <img src="/img/{{this.products.imageFile.[0]}}" alt="Image" style="width: 100px; height: 80px;">
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black">{{this.products.name}}</h2>
                  </td>

                  <td>{{this.totalprice}}</td>
                  {{!-- <td>{{this.status}}</td> --}}
                
                  <td id="status">{{this.SPstatus}} </td>
                  

                  {{!-- <td>{{this.orderDate}}</td> --}}
                   {{#if ret}}
                  {{else}}
                  {{#if this.now}}
                  <td id="return"><a onclick="changestatus('{{this._id}}','{{this.products._id}}','Requested Return')"
                      class="btn btn-success height-auto btn-sm">return</a></td>
                  {{else}}
                  <td id="return"><a href="/users/cancelOrder?id={{this._id}}&&proId={{this.products._id}}"
                      onclick="return confirm('are u sure wanted to cancel this product??')"
                      class="btn btn-primary  height-auto btn-sm">cancel</a></td>
                  {{/if}}
                  {{/if}}


                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </form>
      </div>


      <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
      <script src="/js/jquery-3.3.1.min.js"></script>
      <script src="/js/jquery-ui.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/owl.carousel.min.js"></script>
      <script src="/js/jquery.magnific-popup.min.js"></script>
      <script src="/js/aos.js"></script>
      <script src="/js/main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

      <script>

        function vis() {
          var a = document.getElementById('status').innerHTML
          console.log(a)
          if (a =='Requested Return') {


            document.getElementById('cancel').style.display='none'
             document.getElementById('return').style.display='none'
          }
          else if (a =='Order Cancelled') {
            document.getElementById('cancel').style.display = 'none'
            document.getElementById('return').style.display = 'none'
          }

         
        }
      </script>
      <script>

        function changestatus(a, b, c) {

          $.ajax({

            url: '/users/returnOrder',
            data: {
              order: a, product: b, action: c
            },
            success: (response) => {
              window.location.href = ""
            }
          })

        }
      </script>



</body>

</html>