<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ShopMax &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

    <style type="text/css">
		
		.f {
			display: flex;
		}
		.a {
			align-items: center;
		}
		.j {
			justify-content: center;
		}
		.cn {
			height: 50vh;
		}
		.wp {
			--t: 400px;
			width: var(--t);
		}
		.wp aside {
			width: 50%;
		}
		.wp aside:last-child {
			padding: 0 0 0 10px;
		}
		.mgt {
			margin-top: 10px;
		}
		/* Zoom styles */
		.zoom, .original {
			position: relative;
		}
		.zoom {
			display: inline-block;
		}
		.original {
			cursor: crosshair;
		}
		#target {
			width: calc(var(--t) / 2);
		}
		.zoom .viewer {
			position: absolute;
			top: 0;
			left: 100%;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.zoom .viewer img {
			position: absolute;
		}
		.magnifier {
			position: absolute;
			background: #000;
			opacity: 0.7;
			top: 0;
			left: 0;
		}
		.magnifier, .viewer {
			display: none;
		}
		.original:hover ~ div {
			display: block;
		}
		.original::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}
	</style>
    
  </head>
  <body>
 {{>userHead}}
   

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a href="shop.html">Shop</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Gray Shoe</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
   <div class="cn f a j" >

		<div class="wp f">
			<aside>
				<div class="zoom">
					<div class="original">
						<img src="/img/{{product.imageFile.[0]}}" id="target" >
					</div>
					<div class="viewer">
						<img src="/img/{{product.imageFile.[0]}}" id="tar">
					</div>
					<div class="magnifier"></div>

                     
				</div>	
			</aside>
			 <aside>
			
				<div class="mgt">
					<input type="range" min="2" max="10" value="2">
				</div>
			</aside>
		</div>
	</div>

        <div style="margin-top:50px">

          <div style="float:left  ;border:1px solid black"> <img src="/img/{{product.imageFile.[1]}}" id="chng" onclick="chng()" alt="" style="width: 80px; height:50px ;"></div>
          <div style="float:left ; margin-left:50px;border:1px solid black"><img src="/img/{{product.imageFile.[0]}}"  id="change" onclick="change()" alt="" style="width: 80px; height:50px ;"></div>

            </div>























            {{!-- <div class="item-entry">
              <a href="#" class="product-item md-height bg-gray d-block">
                {{#if product.multImg}}
                 <img src="/img/{{product.imageFile.[0]}}" alt="Image" id="zoom" class="img-fluid">
                {{else}}
                <img src="/products/{{product._id}}.png" alt="Image" id="zoom" class="img-fluid">
                {{/if}}
              </a>
              
            </div>
            <div>
               <img src="\products\634a9ee51ec421c4af7a7c85.png"  id="change" onclick="change()" alt="" style="width: 50px; height:auto ;">
               <img src="/products/{{product._id}}.png" id="chng" onclick="chng()" alt="" style="width: 50px; height:auto ;">

            </div> --}}
<source>
          </div>
          <div class="col-md-6">
            <h2 class="text-black">{{product.name}}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae, explicabo? Incidunt facere, natus soluta dolores iusto! Molestiae expedita veritatis nesciunt doloremque sint asperiores fuga voluptas, distinctio, aperiam, ratione dolore.</p>
            <p class="mb-4">Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste, velit aperiam quis.</p>
            <p><strong class="text-primary h4"><del>₹{{product.price}}</del>{{product.offerprice}}</strong></p>
            <p><strong class="text-primary h4">{{product.brand}}</strong></p>

           
          

            <div>
                {{#if proExist.exists}}
                <p><a href="/users/cart" class="buy-now btn btn-sm height-auto px-4 py-3 btn-success">Go To Cart</a></p>

               {{else}}
                <button onclick="addtocart('{{product._id}}')" style="background-color:rgb(235, 9, 9) ; width: 150px; height: 50px; color:aliceblue;border-radius:10px"> ADD TO CART</button>
                 {{/if}}
            </div>    
          </div>
        </div>
      </div>
    </div>

    <div class="site-section block-3 site-blocks-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Featured Products</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3">
            <div class="nonloop-block-3 owl-carousel">
              {{#each products}}
              <div class="item">
                <div class="item-entry">
                  <a href="/users/singleproduct?id={{this._id}}" class="product-item md-height bg-gray d-block">
                    <img src="/products/{{this._id}}.png" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">{{this.name}}</a></h2>
                  <strong class="item-price"><del>₹{{this.price}}</del>{{this.offerprice}}</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              {{/each}}
              {{!-- <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="/images/prod_3.png" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Blue Shoe High Heels</a></h2>
                  <strong class="item-price"><del>$46.00</del> $28.00</strong>

                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="/images/model_5.png" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Denim Jacket</a></h2>
                  <strong class="item-price"><del>$46.00</del> $28.00</strong>

                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>

                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="/images/prod_1.png" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Leather Green Bag</a></h2>
                  <strong class="item-price"><del>$46.00</del> $28.00</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="/images/model_7.png" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Yellow Jacket</a></h2>
                  <strong class="item-price">$58.00</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div> --}}

            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="/images/about_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Shirts This Summer</h3>
              <p>Promo from  July 15 &mdash; 25, 2019</p>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">emailaddress@domain.com</li>
              </ul>
            </div>

            <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="/js/imagechange.js"></script>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>

  <script src="/js/main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>




<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="/js/imagechange.js"></script>
	<script type="text/javascript" src="/js/zoom.js"></script>
	<script type="text/javascript">
		var l = $('#target').zoom(2);

		$('input[type="range"]').on('change', function () {

			l.setZoom(this.value);

		});
	</script>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script>
  function addtocart(id) {
    $.ajax({
      url: "/users/addtocart/" + id,
      type: "get",
      success: (response) => {
        location.reload()
      }
    })
  }
</script>
  </body>
</html>